@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito Sans", sans-serif;
}
body {
  background: var(--dark-bg, #101829);
  color: #dfe8ef;
}

.text-color,
.hover-text-color:hover {
  color: #32d583;
}

.bg-button {
  background-color: #24975d;
}

.bg-secondary {
  background: #1e2a3a;
}

.table-head {
  background: #101829;
  color: white;
}

.bg-modal {
  background: rgb(0, 0, 0, 0.3);
}
.table-container {
  position: relative;
  overflow-y: scroll;
  max-height: calc(
    100% - 2.5rem
  ); /* Subtract the height of pagination or other elements if applicable */
}

.table-container::-webkit-scrollbar {
  width: 0px;
  display: none; /* Width of the scrollbar */
}

.notification-container::-webkit-scrollbar {
  width: 5px;
}

.notification-container::-webkit-scrollbar-track {
  background: transparent; /* Background color of the scrollbar track */
}

.notification-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners of the scrollbar thumb */
}

.notification-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(
    0,
    0,
    0,
    0.4
  ); /* Color of the scrollbar thumb on hover */
}

.notification-container::-webkit-scrollbar-thumb:active {
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Color of the scrollbar thumb when active/pressed */
}

.notification-container::-webkit-scrollbar-corner {
  background: transparent; /* Background color of the scrollbar corner */
}
