@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito Sans", sans-serif;
}
body {
  background: var(--dark-bg, #101829);
  color: #dfe8ef;
}

.icon-bg {
  background: var(--dark-bg, #101829);
}

.text-color,
.hover-text-color:hover {
  color: #32d583;
}

.border-color {
  border-color: #32d583;
}

.bg-button {
  background-color: #24975d;
}

.bg-secondary {
  background: #1e2a3a;
}

.table-head {
  background: #101829;
  color: white;
}
.bg-modal {
  background: rgb(0, 0, 0, 0.5);
}

.table-container {
  position: relative;
  overflow-y: scroll;
  max-height: calc(
    100% - 2.5rem
  ); /* Subtract the height of pagination or other elements if applicable */
}

.bg-select {
  background-color: #1e2a3a;
}

input,
select {
  background: transparent;
  border-color: white;
  color: white;
}

.table-container::-webkit-scrollbar,
.notification-container::-webkit-scrollbar {
  width: 0px;
  display: none; /* Width of the scrollbar */
}
